<section class="container mt-3 mb-3">
  <div class="row fila justify-content-evenly">
    <h2 class="d-inline col-12 col-lg-6 text-center title">BILLETERA </h2>
  </div>
  <div class="overflow">
    <table class="table table-hover table-dark">
      <thead>
        <tr class="text-center">
          <th>Moneda</th>
          <th>Unidades</th>
          <th>Importe</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          
          <td>Bitcoin</td>
          <td>1.5</td>
          <td class="col-1">$120.000</td>
          
        </tr>
        <tr class="text-center">
          
          <td>USDT</td>
          <td>1.5</td>
          <td class="col-1">$120.000</td>
          
        </tr>
        <tr class="text-center">
          
          <td>Ethereum</td>
          <td>1.5</td>
          <td class="col-1">$120.000</td>
          
        </tr>
        
      </tbody>
    </table>
  </div>


</section>



<section class="container mt-3 mb-3">

  <div class="row fila justify-content-evenly">
    <h2 class="d-inline col-12 col-lg-6 text-center title">ULTIMOS MOVIMIENTOS</h2>
    <button class="col-12 col-sm-4 col-lg-2 btn btn-primary btn-lg mt-1" data-bs-toggle="modal" data-bs-target="#depositar" data-backdrop="static" data-keyboard="false">Depositar</button>
    <button class="col-12 col-sm-4 col-lg-2 btn btn-primary btn-lg mt-1" data-bs-toggle="modal" data-bs-target="#transferir" data-backdrop="static" data-keyboard="false">Transferir</button>
  </div>

  <div *ngIf="movimientos?.length === 0">
    <h1 class="text-center mt-4">No hay operaciones realizadas</h1>
  </div>

  <div *ngIf="movimientos?.length !== 0" class="mt-4">

    <div class="overflow">
      <table class="table table-hover table-dark">
        <thead>
          <tr class="text-center">
            <th>Operación</th>
            <th>Moneda</th>
            <th>Unidades</th>
            <th>Importe ($ARS)</th>
            <th>Fecha de operación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of movimientos; index as i" class="text-center">
            <td [ngClass]="element.operacion === 'Deposito' ? 'text-success' : 'text-danger'">
              {{ element.operacion === 'Deposito' ? '+ Depósito' : '- Extracción' }}
            </td>
            <td>{{ element.moneda }}</td>
            <td>{{ element.unidades }}</td>
            <td class="col-1">{{ element.importeArs | currency}}</td>
            <td>{{ element.fecha }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- modal -->

  <div class="modal fade" id="depositar" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel">Deposito</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close " ></button>
        </div>
        <div class="modal-body">
          <app-deposito></app-deposito>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal" >Cerrar</button>
        </div>
      </div>
    </div>
  </div>
    
  <div class="modal fade" id="transferir" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel">Transferir</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close " ></button>
        </div>
        <div class="modal-body">
          <app-transferir></app-transferir>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal" >Cerrar</button>
        </div>
      </div>
    </div>
  </div>

</section>