<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand" href="#">
        <img
          src="./../../../favicon.png"
          alt="Logo"
          loading="lazy"
          height="22"
        />
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page"  routerLink="/inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page"  routerLink="/servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page"  routerLink="/cotizaciones">Cotizaciones</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" aria-current="page" routerLink="/ultimos-movimientos" *ngIf="autenticado" >Ultimos Movimientos</a>
        </li>
      </ul>
      <form class="d-flex">

        <button (click)="mostrarLogin()" *ngIf="!autenticado" type="button" class="btn btn-light btn-lg login" data-bs-toggle="modal" data-bs-target="#exampleModal" data-backdrop="static" data-keyboard="false"  >
          Ingresar
        </button>



        <button (click)="mostrarRegistro()" *ngIf="!autenticado" type="button" class="btn btn-primary me-3 btn-lg signup" data-bs-toggle="modal" data-bs-target="#exampleModal" data-backdrop="static" data-keyboard="false">
          Registrarse
        </button>
        <button (click)="cerrarSesion()"  *ngIf="autenticado" type="button" class="btn btn-primary me-3 btn-lg signup">
          Cerrar sesion
        </button>
      </form>
      <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reiniciarVariableModal()" ></button>
            </div>
            <div *ngIf="login" class="modal-body">
              <app-login (evento) = "getAutenticacion($event)"></app-login>
            </div>
            <div *ngIf="register" class="modal-body">
              <app-register (evento) = "getAutenticacion($event)"></app-register>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="reiniciarVariableModal()">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
