footer{
  border-top: 1px solid grey;
  padding-top: 20px;
}

a{
  text-decoration: none;
  
}

.logo{
  font-weight: bold;
  font-size: 19px;
}

.titulo{
  font-weight: bold;
  font-size: 17px;
}