<section>
  <div class="title text-center">
    <h2>ULTIMOS MOVIMIENTOS</h2>
  </div>
  <div class="operaciones text-center d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#depositar" data-backdrop="static" data-keyboard="false">Depositar</button>
    <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#transferir" data-backdrop="static" data-keyboard="false">Transferir</button>
  </div>

  <div class="container">
    <div class="m-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Operacion</th>

            <th>Fecha</th>

            <th>Monto</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let element of movimientos">
            <td>{{ element.operacion }}</td>
            <td>{{ element.fecha }}</td>
            <td>{{ element.monto | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- modal -->

<div class="modal fade" id="depositar" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-danger" id="exampleModalLabel">Deposito</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close " ></button>
    </div>
    <div class="modal-body">
      <p>Modal body text goes here.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" data-bs-dismiss="modal" >Cerrar</button>
    </div>
  </div>
</div>
</div>

  <!-- modal -->

  <div class="modal fade" id="transferir" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel">Transferir</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close " ></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal" >Cerrar</button>
        </div>
      </div>
    </div>
    </div>
  
</section>
