.container {
  background-color: white;
  color: white;
}

#hideTextBtn{
  color: rgb(130, 141, 130);
  text-decoration: underline;
  cursor: pointer;
  margin: 3px;
}

.parrafo-uno {
  color: gray;
}

#inputSearch {
width: 100%;
}

#iconSearch {
  display: flex;
  position: relative;
  top: 26px;
  left: 10px;
  color: white;
  cursor: pointer;
}


