.btn{
    margin-left: 12px;
    margin-right: 12px;
}

.d-flex{
    margin-right: 30px;
}

a{
    font-size: 20px;
}

.login{
    font-size: 20px;
    text-transform: uppercase;
}

.signup{
    font-size: 20px;
    text-transform: uppercase;
}