<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="./../../../favicon.png"
          alt="Logo"
          loading="lazy"
          height="22"
        />
      </a>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Comprar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">¿Quiénes Somos?</a>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-link px-3 me-2">
        Ingresar
      </button>
      <button type="button" class="btn btn-primary me-3">
        Registrarse
      </button>
    </div>

  </div>
</nav>